@import './variable.scss';

.#{$themePrefix}badge {
        display: inline-block;
        position: absolute;
        height: 1.125rem;
        padding: 0 0.25rem;
        color: $themeColorWhite;
        background-color: $themeColorRed;
        font-size: 0.75rem;
        line-height: 1.25rem;
        border-radius: 1.125rem;
        text-align: center;
        vertical-align: middle;
        box-sizing: border-box;

        &.#{$themePrefix}badge-top {
                margin-top: -0.625rem;
        }

        &.#{$themePrefix}badge-center {
                margin-top: 0;
        }

        &.#{$themePrefix}badge-bottom {
                margin-top: 0.625rem;
        }

        &.#{$themePrefix}badge-circle {
                width: 1.125rem;
                padding: 0;
        }

        &.#{$themePrefix}badge-point {
                width: 0.5rem;
                height: 0.5rem;

                &.#{$themePrefix}badge-top {
                        margin-top: -0.25rem;
                }

                &.#{$themePrefix}badge-center {
                        margin-top: 0.25rem;
                }

                &.#{$themePrefix}badge-bottom {
                        margin-top: 0.5rem;
                }
        }
}