@import './variable.scss';

.#{$themePrefix}btn {
        position: relative;
        height: 3rem;
        padding: 1rem 1rem;
        color: $themeColorGray600;
        background-color: $themeColorGray200;
        font-family: $themeFontFamilySansserif;
        font-size: 0.9375rem;
        line-height: 1rem !important;
        letter-spacing: 0.01em;

        &.#{$themePrefix}btn-radius { border-radius: 0.25rem }
        &.#{$themePrefix}btn-circle { border-radius: 50% }
        
        &:hover, &:focus, &:active, &.#{$themePrefix}btn-active {
                background-color: $themeColorGray300;
        }

        &:active, &.#{$themePrefix}btn-active {
                @include border-shadow(btn, $themeColorGray200);
        }

        &.#{$themePrefix}btn-outline {
                background-color: rgba(255, 255, 255, 0);
                @include border-shadow(all, $themeColorGray200);

                &:hover, &:focus, &:active, &.#{$themePrefix}btn-active {
                        background-color: $themeColorGray300;
                }
        }

        &.#{$themePrefix}btn-primary {
                color: $themeColorWhite;
                background-color: $themeColorAccentDark;

                &:hover, &:focus, &:active, &.#{$themePrefix}btn-active {
                        background-color: darken($themeColorAccentDark, $themeColorWeight);
                }

                &:active, &.#{$themePrefix}btn-active {
                        @include border-shadow(btn, $themeColorAccentDark);
                }
        }
        &.#{$themePrefix}btn-primary.#{$themePrefix}btn-outline {
                color: $themeColorAccentDark;
                background-color: rgba(255, 255, 255, 0);
                @include border-shadow(all, rgba($themeColorAccentDark, 0.5));

                &:hover, &:focus, &:active, &.#{$themePrefix}btn-active {
                        color: $themeColorWhite;
                        background-color: $themeColorAccentDark;
                }
        }

        &.#{$themePrefix}btn-secondary {
                color: $themeColorWhite;
                background-color: $themeColorAccentLight;

                &:hover, &:focus, &:active, &.#{$themePrefix}btn-active {
                        background-color: darken($themeColorAccentLight, $themeColorWeight);
                }

                &:active, &.#{$themePrefix}btn-active {
                        @include border-shadow(btn, $themeColorAccentLight);
                }
        }
        &.#{$themePrefix}btn-secondary.#{$themePrefix}btn-outline {
                color: $themeColorAccentLight;
                background-color: rgba(255, 255, 255, 0);
                @include border-shadow(all, rgba($themeColorAccentLight, 0.5));

                &:hover, &:focus, &:active, &.#{$themePrefix}btn-active {
                        color: $themeColorWhite;
                        background-color: $themeColorAccentLight;
                }
        }

        &.#{$themePrefix}btn-success {
                color: $themeColorWhite;
                background-color: $themeColorGreen;

                &:hover, &:focus, &:active, &.#{$themePrefix}btn-active {
                        background-color: darken($themeColorGreen, $themeColorWeight);
                }

                &:active, &.#{$themePrefix}btn-active {
                        @include border-shadow(btn, $themeColorTeal);
                }
        }
        &.#{$themePrefix}btn-success.#{$themePrefix}btn-outline {
                color: $themeColorGreen;
                background-color: rgba(255, 255, 255, 0);
                @include border-shadow(all, rgba($themeColorGreen, 0.5));

                &:hover, &:focus, &:active, &.#{$themePrefix}btn-active {
                        color: $themeColorWhite;
                        background-color: $themeColorGreen;
                }
        }

        &.#{$themePrefix}btn-danger {
                color: $themeColorWhite;
                background-color: $themeColorPink;

                &:hover, &:focus, &:active, &.#{$themePrefix}btn-active {
                        background-color: darken($themeColorPink, $themeColorWeight);
                }

                &:active, &.#{$themePrefix}btn-active {
                        @include border-shadow(btn, $themeColorRed);
                }
        }
        &.#{$themePrefix}btn-danger.#{$themePrefix}btn-outline {
                color: $themeColorPink;
                background-color: rgba(255, 255, 255, 0);
                @include border-shadow(all, rgba($themeColorPink, 0.5));

                &:hover, &:focus, &:active, &.#{$themePrefix}btn-active {
                        color: $themeColorWhite;
                        background-color: $themeColorPink;
                }
        }

        &.#{$themePrefix}btn-warning {
                color: $themeColorWhite;
                background-color: $themeColorOrange;

                &:hover, &:focus, &:active, &.#{$themePrefix}btn-active {
                        background-color: darken($themeColorOrange, $themeColorWeight);
                }

                &:active, &.#{$themePrefix}btn-active {
                        @include border-shadow(btn, $themeColorOrange);
                }
        }
        &.#{$themePrefix}btn-warning.#{$themePrefix}btn-outline {
                color: $themeColorOrange;
                background-color: rgba(255, 255, 255, 0);
                @include border-shadow(all, rgba($themeColorOrange, 0.5));

                &:hover, &:focus, &:active, &.#{$themePrefix}btn-active {
                        color: $themeColorWhite;
                        background-color: $themeColorOrange;
                }
        }

        &.#{$themePrefix}btn-info {
                color: $themeColorWhite;
                background-color: $themeColorCyan;

                &:hover, &:focus, &:active, &.#{$themePrefix}btn-active {
                        background-color: darken($themeColorCyan, $themeColorWeight);
                }

                &:active, &.#{$themePrefix}btn-active {
                        @include border-shadow(btn, $themeColorCyan);
                }
        }
        &.#{$themePrefix}btn-info.#{$themePrefix}btn-outline {
                color: $themeColorCyan;
                background-color: rgba(255, 255, 255, 0);
                @include border-shadow(all, rgba($themeColorCyan, 0.5));

                &:hover, &:focus, &:active, &.#{$themePrefix}btn-active {
                        color: $themeColorWhite;
                        background-color: $themeColorCyan;
                }
        }

        &.#{$themePrefix}btn-link {
                color: $themeColorIndigo;
                background-color: rgba(255, 255, 255, 0);

                &:hover, &:focus, &:active, &.#{$themePrefix}btn-active {
                        background-color: rgba(255, 255, 255, 0);
                        text-decoration: underline;
                }

                &:active, &.#{$themePrefix}btn-active {
                        @include border-shadow(btn, $themeColorIndigo);
                }
        }
        &.#{$themePrefix}btn-link.#{$themePrefix}btn-outline {
                @include border-shadow(all, rgba($themeColorIndigo, 0.5));

                &:hover, &:focus, &:active, &.#{$themePrefix}btn-active {
                        @include border-shadow(none);
                }
        }
}