@import '~mixin-animations/sass/touchinL';
@import '~mixin-animations/sass/touchoutL';
@import './variable.scss';

.#{$themePrefix}dashboard {
        width: 100vw;
        overflow: hidden;
        font-family: $themeFontFamilySansserif !important;
        background-color: $themeColorGray100;

        &, .#{$themePrefix}dashboard-side, .#{$themePrefix}dashboard-main {
                height: 100vh;
                box-sizing: border-box;
        }

        .#{$themePrefix}dashboard-side {
                display: none;
                background-color: $themeColorGray100;
        }

        .#{$themePrefix}dashboard-main {
                padding: 3rem 0;

                .#{$themePrefix}mask {
                        display: none;
                }

                .#{$themePrefix}dashboard-main-inner {
                        height: 100%;
                        overflow: hidden;
                }
        }

        &.#{$themePrefix}dashboard-small {
                .#{$themePrefix}dashboard-main {
                        padding: 2rem 0;
                }
        }

        &.#{$themePrefix}dashboard-large {
                .#{$themePrefix}dashboard-main {
                        padding: 4rem 0;
                }
        }

        &.#{$themePrefix}dashboard-huge {
                .#{$themePrefix}dashboard-main {
                        padding: 5rem 0;
                }
        }

        &.#{$themePrefix}dashboard-collapsed {
                .#{$themePrefix}dashboard-side {
                        display: block;
                        position: absolute;
                        z-index: $themeZindexFixed * 2;
                        @include touchinL($themeAnimation);
                }

                .#{$themePrefix}dashboard-main {
                        .#{$themePrefix}mask {
                                display: block;
                        }
                }
        }

        &.#{$themePrefix}dashboard-uncollapsed {
                .#{$themePrefix}dashboard-side {
                        display: block;
                        position: absolute;
                        z-index: $themeZindexFixed * 2;
                        @include touchoutL($themeAnimation);
                }
        }
}
@include media-breakpoint-up(md) {
        .#{$themePrefix}dashboard {
                background-color: $themeColorWhite;

                .#{$themePrefix}dashboard-side {
                        @include border-shadow(right, $themeColorGray300);
                }

                .#{$themePrefix}dashboard-main {
                        flex: auto;
                }

                &.#{$themePrefix}dashboard-collapsed {
                        .#{$themePrefix}dashboard-side {
                                display: block;
                                position: relative;
                                max-width: 3rem;
                                animation: none;
                                z-index: auto;
                        }

                        .#{$themePrefix}dashboard-main {
                                .#{$themePrefix}mask {
                                        display: none !important;
                                }
                        }

                        &.#{$themePrefix}dashboard-small {
                                .#{$themePrefix}dashboard-side {
                                        max-width: 2rem;
                                }
                        }
                
                        &.#{$themePrefix}dashboard-large {
                                .#{$themePrefix}dashboard-side {
                                        max-width: 4rem;
                                }
                        }
                
                        &.#{$themePrefix}dashboard-huge {
                                .#{$themePrefix}dashboard-side {
                                        max-width: 5rem;
                                }
                        }
                }
        
                &.#{$themePrefix}dashboard-uncollapsed {
                        .#{$themePrefix}dashboard-side {
                                position: relative;
                                animation: none;
                                z-index: auto;
                        }
                }
        }
}
@include media-breakpoint-up(hg) {
        .#{$themePrefix}dashboard {
                .#{$themePrefix}dashboard-side {
                        max-width: 20rem;
                }
        }
}