@mixin media-breakpoint-up($name) {
        $breakpoint: (
                sm: 35.5rem,
                md: 48.0rem,
                lg: 64.0rem,
                xl: 80.0rem,
                hg: 120.0rem
        );

        @media screen and (min-width: map-get($breakpoint, $name)) {
                @content;
        }
}

@mixin border-shadow($type, $color, $size: 1px) {
        $border: (
                top: 0 -$size 0 $color,
                right: $size 0 0 $color,
                bottom: 0 $size 0 $color,
                left: -$size 0 0 $color
        );

        box-shadow: map-get($border, $type);
}
