@import './variable.scss';

.#{$themePrefix}navbar {
        height: 3rem;
        flex-wrap: nowrap !important;
        background-color: $themeColorAccentLight;

        ul.pure-menu-list {
                margin-left: 1px;
                margin-right: 1px;
        }

        .pure-menu-children {
                z-index: $themeZindexFixed;
                @include border-shadow(btn, $themeColorAccentDark);

                .pure-menu-item {
                        @include border-shadow(top, rgba($themeColorAccentDark, 0.5));
                }

                .pure-menu-item:first-child {
                        box-shadow: none;
                }
        }

        .#{$themePrefix}navbar-inner {
                flex: 1;
                text-align: center;
        }

        &.#{$themePrefix}navbar-small {
                height: 2rem;
        }

        &.#{$themePrefix}navbar-large {
                height: 4rem;
        }

        &.#{$themePrefix}navbar-huge {
                height: 5rem;
        }
}