@import './variable.scss';

h1,
h2,
h3,
h4,
h5,
h6 {
        margin: 0;
        font-family: $themeFontFamilySansserif;
        text-align: left;
}

h1 {
        color: $themeColorGray800;
        font-size: 2.875rem;
        line-height: 3.5rem;
        font-weight: lighter;
}

h2 {
        font-size: 2.125rem;
        line-height: 2.5rem;
        font-weight: lighter;
}

code {
        background-color: $themeColorGray50;
}