$themePrefix: 'vfluents-';
$themeAnimation: 0.625s !default;
$themeColorWeight: 6.25%;

$themeColorAccentLight: #3498db !default;
$themeColorAccentDark: #2980b9 !default;

$themeColorBlue: #0078d7 !default;
$themeColorIndigo: #6610f2 !default;
$themeColorPurple: #6f42c1 !default;
$themeColorPink: #e74856 !default;
$themeColorRed: #e81123 !default;
$themeColorOrange: #ff8c00 !default;
$themeColorYellow: #ffb900 !default;
$themeColorGreen: #107c10 !default;
$themeColorTeal: #00cc6a !default;
$themeColorCyan: #0099bc !default;
$themeColorWhite:   #fefdfb !default;
$themeColorGray50:  #f8f8f8 !default;
$themeColorGray100: #f4f4f4 !default;
$themeColorGray200: #eaeaea !default;
$themeColorGray300: #c8c8c8 !default;
$themeColorGray400: #bdbdbd !default;
$themeColorGray500: #9e9e9e !default;
$themeColorGray600: #7c7c7c !default;
$themeColorGray700: #4f4f4f !default;
$themeColorGray800: #333333 !default;
$themeColorGray900: #1f1f1f !default;
$themeColorBlack:   #010204 !default;

$blue:     $themeColorBlue;
$indigo:   $themeColorIndigo;
$purple:   $themeColorPurple;
$pink:     $themeColorPink;
$red:      $themeColorRed;
$orange:   $themeColorOrange;
$yellow:   $themeColorYellow;
$green:    $themeColorGreen;
$teal:     $themeColorTeal;
$cyan:     $themeColorCyan;
$white:    $themeColorWhite;
$gray-100: $themeColorGray100;
$gray-200: $themeColorGray200;
$gray-300: $themeColorGray300;
$gray-400: $themeColorGray400;
$gray-500: $themeColorGray500;
$gray-600: $themeColorGray600;
$gray-700: $themeColorGray700;
$gray-800: $themeColorGray800;
$gray-900: $themeColorGray900;
$black:    $themeColorBlack;
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/utilities';