$themePrefix: 'vfluents-';
$themeAnimation: 0.375s !default;
$themeColorWeight: 6.25%;
//$themeFontFamily: 'Segoe UI', SegoeUI, 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$themeFontFamily: -apple-system-font,Helvetica Neue,Helvetica,sans-serif;

$themeColorAccentLight: #2a579a !default;
$themeColorAccentDark: darken($themeColorAccentLight, $themeColorWeight) !default;
$themeColorBlue:    #0078d7 !default;
$themeColorIndigo:  #0063b1 !default;
$themeColorPurple:  #9a0089 !default;
$themeColorPink:    #e74856 !default;
$themeColorRed:     #ff4343 !default;
$themeColorOrange:  #ff8c00 !default;
$themeColorYellow:  #ffb900 !default;
$themeColorGreen:   #107c10 !default;
$themeColorTeal:    #00cc6a !default;
$themeColorCyan:    #0099bc !default;
$themeColorWhite:   #ffffff !default;
$themeColorGray50:  #fafafa !default;
$themeColorGray100: #f4f4f4 !default;
$themeColorGray200: #eaeaea !default;
$themeColorGray300: #dcdcdc !default;
$themeColorGray400: #cccccc !default;
$themeColorGray500: #9e9e9e !default;
$themeColorGray600: #767676 !default;
$themeColorGray700: #646464 !default;
$themeColorGray800: #424242 !default;
$themeColorGray900: #2b2b2b !default;
$themeColorBlack:   #000000 !default;

$blue:     $themeColorBlue;
$indigo:   $themeColorIndigo;
$purple:   $themeColorPurple;
$pink:     $themeColorPink;
$red:      $themeColorRed;
$orange:   $themeColorOrange;
$yellow:   $themeColorYellow;
$green:    $themeColorGreen;
$teal:     $themeColorTeal;
$cyan:     $themeColorCyan;
$white:    $themeColorWhite;
$gray-100: $themeColorGray100;
$gray-200: $themeColorGray200;
$gray-300: $themeColorGray300;
$gray-400: $themeColorGray400;
$gray-500: $themeColorGray500;
$gray-600: $themeColorGray600;
$gray-700: $themeColorGray700;
$gray-800: $themeColorGray800;
$gray-900: $themeColorGray900;
$black:    $themeColorBlack;
$body-color: $themeColorGray800;
$font-family-base: $themeFontFamily;
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/utilities';