@import '../../node_modules/mixin-animations/sass/fadeinL.scss';
@import '../styles/variable.scss';

.#{$themePrefix}dashboard {
        .row {
                width: 100vw;
                height: 100vh;
                overflow: hidden;
        }

        .#{$themePrefix}dashboard-side,
        .#{$themePrefix}dashboard-main {
                padding: 0 !important;
        }

        .#{$themePrefix}dashboard-side {
                display: none;
                background-color: $themeColorGray100;
                @include fadeinL($themeAnimation);

                .#{$themePrefix}navbar {
                        display: none;
                        background-color: $themeColorBlueDark !important;
                }
        }

        .#{$themePrefix}dashboard-main {
                background-color: $themeColorGray50;

                .#{$themePrefix}navbar {
                        background-color: $themeColorBlue !important;
                }
        }

        &.#{$themePrefix}dashboard-collapsed {
                .#{$themePrefix}dashboard-side,
                .#{$themePrefix}dashboard-main {
                        border: 0;
                }

                .#{$themePrefix}dashboard-side {
                        display: block;
                        position: absolute;
                        height: 100vh;
                        z-index: $zindex-fixed;
                }
        }
}
@include media-breakpoint-up(md) {
        .#{$themePrefix}dashboard {
                .#{$themePrefix}dashboard-side {
                        display: block;
                        animation: none;

                        .#{$themePrefix}navbar {
                                display: flex;
                        }
                }

                &.#{$themePrefix}dashboard-collapsed {
                        .row {
                                flex-wrap: nowrap;
                        }

                        .#{$themePrefix}dashboard-side {
                                position: relative;
                                max-width: 3rem;
                                animation: none;

                                
                        }

                        .#{$themePrefix}dashboard-main {
                                max-width: 100%;
                                flex: auto;
                        }

                        &.#{$themePrefix}dashboard-small .#{$themePrefix}dashboard-side {
                                max-width: 2rem;
                        }

                        &.#{$themePrefix}dashboard-large .#{$themePrefix}dashboard-side {
                                max-width: 4rem;
                        }

                        &.#{$themePrefix}dashboard-huge .#{$themePrefix}dashboard-side {
                                max-width: 5rem;
                        }
                }
        }
}