@import '~mixin-animations/sass/touchinL';
@import '~mixin-animations/sass/touchoutL';
@import '../styles/variable.scss';

.#{$themePrefix}dashboard {
        .#{$themePrefix}row {
                overflow: hidden;
        }

        .#{$themePrefix}dashboard-side,
        .#{$themePrefix}dashboard-main {
                height: 100vh;
        }

        .#{$themePrefix}dashboard-side {
                display: none;
                padding: 5rem 0 0 0;
                background-color: $themeColorGray100;

                .#{$themePrefix}navigation {
                        height: 100%;
                        overflow: auto;
                }

                .#{$themePrefix}dashboard-userinfo {
                        position: absolute;
                        top: 0;
                        width: 100%;
                        height: 5rem;
                        padding: 1rem 0.75rem;
                        background-color: $themeColorAccentLight;

                        .#{$themePrefix}btn {
                                position: absolute;
                                background-size: 100% 100%;

                                &, &:hover, &:focus, &:active {
                                        border: 0;
                                        box-shadow: none;
                                }
                        }

                        section {
                                margin-left: 3.5rem;
                                color: $themeColorWhite;
                                cursor: pointer;
                                overflow: hidden;

                                h6 {
                                        margin-top: 0.25rem;
                                        margin-bottom: 0;
                                }
                        }
                }
        }

        .#{$themePrefix}dashboard-main {
                padding: 3rem 0;
                background-color: $themeColorGray100;

                &.#{$themePrefix}dashboard-bottom {
                        padding-bottom: 0 !important;
                }

                .#{$themePrefix}navbar {
                        background-color: $themeColorAccentLight !important;
                        flex-wrap: nowrap;

                        .navbar-brand {
                                display: none;
                                margin: 0;
                                padding: 0;

                                .navbar-brand-logo,
                                .navbar-brand-text {
                                        fill: $themeColorGray50;
                                        color: $themeColorGray50;
                                }
                        }

                        .#{$themePrefix}btn {
                                vertical-align: top;
                                background-color: rgba(0, 0, 0, 0);
                                border-color: rgba(0, 0, 0, 0);
                                box-shadow: none !important;

                                &.btn-primary {
                                        &:hover, &:focus, &:active {
                                                background-color: darken($themeColorAccentLight, $themeColorWeight);
                                        }
                                }
                        }

                        .#{$themePrefix}dashboard-headerimg,
                        .#{$themePrefix}dashboard-userinfo,
                        .#{$themePrefix}dashboard-quit {
                                display: none;
                        }

                        .#{$themePrefix}dashboard-headerimg {
                                background-size: 100% 100%;
                        }

                        .#{$themePrefix}dashboard-brand {
                                font-size: 1.125rem;
                        }
                }

                .#{$themePrefix}dashboard-main-mask {
                        display: none;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        background-color: rgba(0, 0, 0, 0.45);
                        z-index: $zindex-fixed;
                }

                .#{$themePrefix}dashboard-main-inner {
                        height: 100%;
                        padding: 0.625rem 0.9375rem;
                        overflow: auto;
                }
        }

        &.#{$themePrefix}dashboard-small {
                .#{$themePrefix}dashboard-main {
                        padding: 2rem 0;
                }
        }

        &.#{$themePrefix}dashboard-large {
                .#{$themePrefix}dashboard-main {
                        padding: 4rem 0;
                }
        }

        &.#{$themePrefix}dashboard-huge {
                .#{$themePrefix}dashboard-main {
                        padding: 5rem 0;
                }
        }

        &.#{$themePrefix}dashboard-collapsed {
                .#{$themePrefix}dashboard-side {
                        display: block;
                        position: absolute;
                        height: 100vh;
                        background-color: $themeColorGray100;
                        z-index: $zindex-fixed * 2;
                        @include touchinL($themeAnimation);
                }

                .#{$themePrefix}dashboard-main {
                        .#{$themePrefix}dashboard-main-mask {
                                display: block;
                        }
                }
        }

        &.#{$themePrefix}dashboard-uncollapsed-init {
                .#{$themePrefix}dashboard-side {
                        max-width: 0;
                }
        }

        &.#{$themePrefix}dashboard-uncollapsed {
                .#{$themePrefix}dashboard-side {
                        position: absolute;
                        display: block;
                        z-index: $zindex-fixed * 2;
                        @include touchoutL($themeAnimation);
                       
                }
        }
}
.#{$themePrefix}browser-theme-light {
        .#{$themePrefix}dashboard {
                .#{$themePrefix}dashboard-side {
                        .#{$themePrefix}dashboard-userinfo {
                                background-color: $themeColorGray100 !important;

                                section {
                                        color: $themeColorGray600;
                                }
                        }
                }

                .#{$themePrefix}dashboard-main {
                        .#{$themePrefix}navbar {
                                background-color: $themeColorGray50 !important;

                                .#{$themePrefix}dashboard-headerimg {
                                        border-radius: 50%;
                                }

                                .#{$themePrefix}btn {
                                        color: $themeColorGray600;

                                        .#{$themePrefix}icon {
                                                color: $themeColorGray600;
                                                fill: $themeColorGray600;
                                        }

                                        &:hover,
                                        &:focus,
                                        &:active {
                                                background-color: $themeColorGray100;
                                        }
                                }
                        }
                }
        }
}
.#{$themePrefix}browser-theme-dark {
        .#{$themePrefix}dashboard {
                .#{$themePrefix}dashboard-side {
                        background-color: $themeColorGray900;

                        .#{$themePrefix}dashboard-userinfo {
                                background-color: $themeColorGray900 !important;

                                section {
                                        color: $themeColorGray600;
                                }
                        }
                }

                .#{$themePrefix}dashboard-main {
                        background-color: $themeColorGray900;

                        .#{$themePrefix}navbar {
                                background-color: $themeColorBlack !important;

                                .#{$themePrefix}btn:hover,
                                .#{$themePrefix}btn:focus,
                                .#{$themePrefix}btn:active {
                                        background-color: $themeColorGray800;
                                }

                                .#{$themePrefix}dashboard-brand {
                                        background-color: rgba(0, 0, 0, 0) !important;
                                }
                        }
                }
        }
}
@include media-breakpoint-up(md) {
        .#{$themePrefix}dashboard {
                .#{$themePrefix}dashboard-side {
                        padding-top: 3rem;
                        display: block;
                        animation: none;
                        border-right: 1px solid $themeColorGray200;

                        .#{$themePrefix}dashboard-userinfo {
                                display: none;
                        }
                }

                .#{$themePrefix}dashboard-main {
                        padding-bottom: 0 !important;
                        background-color: $themeColorGray50;

                        .navbar-brand {
                                display: inline-block !important;
                                background-color: $themeColorAccentDark;
                        }

                        .#{$themePrefix}dashboard-main-inner {
                                padding: 1.25rem 1.875rem;
                        }

                        .#{$themePrefix}dashboard-startmenu,
                        .#{$themePrefix}dashboard-brand {
                                display: none;
                        }

                        .#{$themePrefix}dashboard-headerimg,
                        .#{$themePrefix}dashboard-userinfo,
                        .#{$themePrefix}dashboard-quit {
                                display: inline-block !important;
                        }
                }

                &.#{$themePrefix}dashboard-collapsed {
                        .#{$themePrefix}row {
                                flex-wrap: nowrap;
                        }

                        .#{$themePrefix}dashboard-side {
                                position: relative;
                                max-width: 3rem;
                                background-color: $themeColorGray100;
                                animation: none;
                                z-index: $zindex-fixed;
                        }

                        .#{$themePrefix}dashboard-main {
                                max-width: 100%;
                                flex: auto;

                                .navbar-brand {
                                        max-width: 3rem;

                                        .navbar-brand-text {
                                                display: none;
                                        }
                                }

                                .#{$themePrefix}dashboard-main-mask {
                                        display: none;
                                }
                        }

                        &.#{$themePrefix}dashboard-small {
                                .#{$themePrefix}dashboard-side {
                                        max-width: 2rem;

                                        .#{$themePrefix}navigation {
                                                margin-top: 2rem;
                                        }
                                }

                                .#{$themePrefix}dashboard-main {
                                        .navbar-brand {
                                                max-width: 2rem;
                                        }
                                }
                        }

                        &.#{$themePrefix}dashboard-large {
                                .#{$themePrefix}dashboard-side {
                                        max-width: 4rem;

                                        .#{$themePrefix}navigation {
                                                margin-top: 4rem;
                                        }
                                }

                                .#{$themePrefix}dashboard-main {
                                        .navbar-brand {
                                                max-width: 4rem;
                                        }
                                }
                        }

                        &.#{$themePrefix}dashboard-huge {
                                .#{$themePrefix}dashboard-side {
                                        max-width: 5rem;

                                        .#{$themePrefix}navigation {
                                                margin-top: 5rem;
                                        }
                                }

                                .#{$themePrefix}dashboard-main {
                                        .navbar-brand {
                                                max-width: 5rem;
                                        }
                                }
                        }
                }

                &.#{$themePrefix}dashboard-uncollapsed-init {
                        .#{$themePrefix}dashboard-side {
                                max-width: 33.3333% !important;
                        }
                }

                &.#{$themePrefix}dashboard-uncollapsed {
                        .#{$themePrefix}dashboard-side {
                                position: relative;
                                animation: none;
                                z-index: auto;
                        }
                }
        }

        .#{$themePrefix}browser-theme-light {
                .#{$themePrefix}dashboard {
                        .#{$themePrefix}dashboard-side {
                                border-right: 0;
                        }
        
                        .#{$themePrefix}dashboard-main {
                                background-color: $themeColorGray50;

                                .navbar-brand {
                                        background-color: $themeColorGray100 !important;

                                        .navbar-brand-logo,
                                        .navbar-brand-text {
                                                color: $themeColorGray700;
                                                fill: $themeColorGray700;
                                        }
                                }

                                .#{$themePrefix}dashboard-main-inner {
                                        padding-top: 0;
                                        padding-bottom: 0;
                                }
                        }
                }
        }
        .#{$themePrefix}browser-theme-dark {
                .#{$themePrefix}dashboard {
                        .#{$themePrefix}dashboard-side {
                                background-color: $themeColorGray900;
                                border-right: 0;
                        }
        
                        .#{$themePrefix}dashboard-main {
                                background-color: $themeColorBlack;

                                .navbar-brand {
                                        background-color: $themeColorGray900 !important;

                                        .navbar-brand-logo,
                                        .navbar-brand-text {
                                                color: $themeColorGray200;
                                                fill: $themeColorGray200;
                                        }
                                }

                                .#{$themePrefix}dashboard-main-inner {
                                        padding-top: 0;
                                        padding-bottom: 0;
                                }
                        }
                }
        }
}
@include media-breakpoint-up(lg) {
        .#{$themePrefix}dashboard {
                &.#{$themePrefix}dashboard-uncollapsed-init {
                        .#{$themePrefix}dashboard-side {
                                max-width: 25% !important;
                        }
                }
        }
}

@include media-breakpoint-up(xl) {
        .#{$themePrefix}dashboard {
                &.#{$themePrefix}dashboard-uncollapsed-init {
                        .#{$themePrefix}dashboard-side {
                                max-width: 16.6667% !important;
                        }
                }
        }
}
