@import '../../node_modules/mixin-animations/sass/fadeinL.scss';
@import '../styles/variable.scss';

.#{$themePrefix}dashboard {
        &, .row {
                width: 100vw;
                height: 100vh;
                overflow: hidden;
        }

        .#{$themePrefix}dashboard-side,
        .#{$themePrefix}dashboard-main {
                padding: 0 !important;
        }

        .#{$themePrefix}dashboard-side {
                display: none;
                @include fadeinL($themeAnimation);
        }

        .#{$themePrefix}dashboard-main {
        }

        &.#{$themePrefix}dashboard-collapsed {
                .#{$themePrefix}dashboard-side {
                        display: block;
                        position: absolute;
                        height: 100vh;
                        z-index: $zindex-fixed;
                }
        }

        &.#{$themePrefix}dashboard-theme-default {
                .#{$themePrefix}dashboard-side {
                        .#{$themePrefix}navbar {
                                background-color: darken($themeColorBlue, $themeColorWeight) !important;
                        }
                }

                .#{$themePrefix}dashboard-main {
                        .#{$themePrefix}navbar {
                                background-color: $themeColorBlue !important;
                        }
                }
        }

        &.#{$themePrefix}dashboard-theme-light {
                .#{$themePrefix}dashboard-side {
                        .#{$themePrefix}navbar {
                                background-color: $themeColorBlue !important;
                        }
                }

                .#{$themePrefix}dashboard-main {
                        .#{$themePrefix}navbar {
                                background-color: $themeColorBlue !important;
                        }
                }
        }

        &.#{$themePrefix}dashboard-theme-dark {
                .#{$themePrefix}dashboard-side {
                        .#{$themePrefix}navbar {
                                background-color: $themeColorBlue !important;
                        }
                }

                .#{$themePrefix}dashboard-main {
                        .#{$themePrefix}navbar {
                                background-color: $themeColorBlue !important;
                        }
                }
        }
}
@include media-breakpoint-up(md) {
        .#{$themePrefix}dashboard {
                .#{$themePrefix}dashboard-side {
                        display: block;
                        animation-name: none;
                }

                &.#{$themePrefix}dashboard-collapsed {
                        .row {
                                flex-wrap: nowrap;
                        }

                        .#{$themePrefix}dashboard-side {
                                position: relative;
                                max-width: 3rem;
                                @include fadeinL($themeAnimation);
                        }

                        .#{$themePrefix}dashboard-main {
                                max-width: 100%;
                                flex: auto;
                        }

                        &.#{$themePrefix}dashboard-small .#{$themePrefix}dashboard-side {
                                max-width: 2rem;
                        }

                        &.#{$themePrefix}dashboard-large .#{$themePrefix}dashboard-side {
                                max-width: 4rem;
                        }

                        &.#{$themePrefix}dashboard-huge .#{$themePrefix}dashboard-side {
                                max-width: 5rem;
                        }
                }
        }
}