@import '../styles/variable.scss';
@import '../../node_modules/bootstrap/scss/buttons';

.#{$themePrefix}button {
        position: relative;
        height: 3rem;
        font-size: 1.125rem;
        line-height: 2.25rem;
        border: 0;
        border-radius: 0;

        .#{$themePrefix}icon {
                position: absolute;
        }

        &.btn-primary {

        }

        &.btn-secondary {

        }

        &.btn-success {

        }

        &.btn-danger {

        }

        &.btn-warning {}

        &.btn-info {}

        &.btn-light {}

        &.btn-dark {}

        &.btn-link {}

        &.#{$themePrefix}button-small {
                height: 2rem;
                line-height: 1.25rem;
        }

        &.#{$themePrefix}button-large {
                height: 4rem;
                line-height: 3.25rem;
        }

        &.#{$themePrefix}button-huge {
                height: 5rem;
                line-height: 4.25rem;
        }
}