@import '../styles/variable.scss';
@import '../../node_modules/bootstrap/scss/buttons';

.#{$themePrefix}button {
        border-radius: 0;
        height: 3rem;
        line-height: 2.25rem;
        font-size: 1.125rem;
        background-color: rgba(0, 0, 0, 0);
        vertical-align: top !important;
        border: 0;

        span {
                display: inline-block;
                
        }
        .#{$themePrefix}icon {
                margin-top: 0.125rem;
        }

        &:focus {
                box-shadow: none;
        }

        &.#{$themePrefix}button-icon {
                padding-left: 0.5rem;
                padding-right: 0.5rem;
        }
}