@import '../styles/variable.scss';
@import '../../node_modules/bootstrap/scss/buttons';

.#{$themePrefix}btn {
        position: relative;
        height: 3rem;
        font-size: 1.125rem;
        line-height: 2.25rem;
        border-radius: 0;

        &.#{$themePrefix}btn-icon {
                .#{$themePrefix}icon {
                        position: absolute;
                        margin: 0.375rem 0;
                }

                .#{$themePrefix}btn-text {
                        margin-left: 1.75rem;
                }

                &.#{$themePrefix}btn-icon-only {
                        width: 3rem !important;
                        max-width: 3rem !important;
                        min-width: 3rem !important;
                }
        }

        &.#{$themePrefix}btn-round {
                border-radius: $btn-border-radius;
        }

        &.#{$themePrefix}btn-circle {
                border-radius: 3rem !important;
        }

        &.#{$themePrefix}btn-small {
                height: 2rem;
                line-height: 1.25rem;

                &.#{$themePrefix}btn-icon {
                        .#{$themePrefix}icon {
                                margin: 0.125rem 0;
                        }

                        .#{$themePrefix}btn-text {
                                margin-left: 1.25rem;
                        }

                        &.#{$themePrefix}btn-icon-only {
                                width: 2rem !important;
                                max-width: 2rem !important;
                                min-width: 2rem !important;
                                padding: 0.375rem;

                                .#{$themePrefix}icon {
                                        margin: 0.125rem;
                                }
                        }
                }

                &.#{$themePrefix}btn-round {
                        border-radius: $btn-border-radius-sm;
                }

                &.#{$themePrefix}btn-circle {
                        border-radius: 2rem !important;
                }
        }

        &.#{$themePrefix}btn-large {
                height: 4rem;
                line-height: 3.25rem;

                &.#{$themePrefix}btn-icon {
                        .#{$themePrefix}icon {
                                margin: 0.875rem 0;
                        }

                        &.#{$themePrefix}btn-icon-only {
                                width: 4rem !important;
                                max-width: 4rem !important;
                                min-width: 4rem !important;
                        }
                }

                &.#{$themePrefix}btn-round {
                        border-radius: $btn-border-radius-lg;
                }

                &.#{$themePrefix}btn-circle {
                        border-radius: 4rem !important;
                }
        }

        &.#{$themePrefix}btn-huge {
                height: 5rem;
                line-height: 4.25rem;

                &.#{$themePrefix}btn-icon {
                        .#{$themePrefix}icon {
                                margin: 1.375rem 0;
                        }

                        &.#{$themePrefix}btn-icon-only {
                                width: 5rem !important;
                                max-width: 5rem !important;
                                min-width: 5rem !important;
                        }
                }

                &.#{$themePrefix}btn-round {
                        border-radius: $btn-border-radius-lg;
                }

                &.#{$themePrefix}btn-circle {
                        border-radius: 5rem !important;
                }
        }

        &.btn-default {
                color: $themeColorGray600;
                background-color: $themeColorGray100;

                &:focus,
                &:hover {
                        background-color: $themeColorGray200;
                }

                .#{$themePrefix}icon {
                        color: $themeColorGray600;
                        fill: $themeColorGray600;
                }
        }

        &.btn-primary {
                .#{$themePrefix}icon {
                        color: $themeColorWhite;
                        fill: $themeColorWhite;
                }
        }

        &.btn-secondary {
                .#{$themePrefix}icon {
                        color: $themeColorWhite;
                        fill: $themeColorWhite;
                }
        }

        &.btn-success {
                .#{$themePrefix}icon {
                        color: $themeColorWhite;
                        fill: $themeColorWhite;
                }
        }

        &.btn-danger {
                .#{$themePrefix}icon {
                        color: $themeColorWhite;
                        fill: $themeColorWhite;
                }
        }

        &.btn-warning {
                .#{$themePrefix}icon {
                        color: $themeColorGray900;
                        fill: $themeColorGray900;
                }
        }

        &.btn-info {
                .#{$themePrefix}icon {
                        color: $themeColorWhite;
                        fill: $themeColorWhite;
                }
        }

        &.btn-light {
                color: $themeColorGray800;

                .#{$themePrefix}icon {
                        color: $themeColorGray800;
                        fill: $themeColorGray800;
                }
        }

        &.btn-dark {
                .#{$themePrefix}icon {
                        color: $themeColorWhite;
                        fill: $themeColorWhite;
                }
        }

        &.btn-link {
                .#{$themePrefix}icon {
                        color: $themeColorBlue;
                        fill: $themeColorBlue;
                }

                &:hover {
                        color: darken($themeColorBlue, $themeColorWeight);

                        .#{$themePrefix}icon {
                                color: darken($themeColorBlue, $themeColorWeight);
                                fill: darken($themeColorBlue, $themeColorWeight);
                        }
                }
        }

        &.btn-outline-default {
                color: $themeColorGray600;
                background-color: rgba(0, 0, 0, 0);
                border-color: $themeColorGray200;

                &:focus,
                &:hover,
                &:active {
                        background-color: $themeColorGray100;
                }

                .#{$themePrefix}icon {
                        color: $themeColorGray600;
                        fill: $themeColorGray600;
                }
        }

        &.btn-outline-primary {
                .#{$themePrefix}icon {
                        color: $themeColorBlue;
                        fill: $themeColorBlue;
                }

                &:hover,
                &:focus,
                &:active {
                        .#{$themePrefix}icon {
                                color: $themeColorWhite;
                                fill: $themeColorWhite;
                        }
                }
        }

        &.btn-outline-secondary {
                .#{$themePrefix}icon {
                        color: $themeColorGray600;
                        fill: $themeColorGray600;
                }

                &:hover,
                &:focus,
                &:active {
                        .#{$themePrefix}icon {
                                color: $themeColorWhite;
                                fill: $themeColorWhite;
                        }
                }
        }

        &.btn-outline-success {
                .#{$themePrefix}icon {
                        color: $themeColorGreen;
                        fill: $themeColorGreen;
                }

                &:hover,
                &:focus,
                &:active {
                        .#{$themePrefix}icon {
                                color: $themeColorWhite;
                                fill: $themeColorWhite;
                        }
                }
        }

        &.btn-outline-danger {
                .#{$themePrefix}icon {
                        color: $themeColorRed;
                        fill: $themeColorRed;
                }

                &:hover,
                &:focus,
                &:active {
                        .#{$themePrefix}icon {
                                color: $themeColorWhite;
                                fill: $themeColorWhite;
                        }
                }
        }

        &.btn-outline-warning {
                .#{$themePrefix}icon {
                        color: $themeColorYellow;
                        fill: $themeColorYellow;
                }

                &:hover,
                &:focus,
                &:active {
                        .#{$themePrefix}icon {
                                color: $themeColorGray900;
                                fill: $themeColorGray900;
                        }
                }
        }

        &.btn-outline-info {
                .#{$themePrefix}icon {
                        color: $themeColorCyan;
                        fill: $themeColorCyan;
                }

                &:hover,
                &:focus,
                &:active {
                        .#{$themePrefix}icon {
                                color: $themeColorWhite;
                                fill: $themeColorWhite;
                        }
                }
        }

        &.btn-outline-light {
                color: $themeColorGray900;
                border-color: $themeColorGray200;
        }

        &.btn-outline-dark {
                .#{$themePrefix}icon {
                        color: $themeColorGray800;
                        fill: $themeColorGray800;
                }

                &:hover,
                &:focus,
                &:active {
                        .#{$themePrefix}icon {
                                color: $themeColorWhite;
                                fill: $themeColorWhite;
                        }
                }
        }

        &.btn-outline-link {
                color: $themeColorBlue;
                background-color: rgba(0, 0, 0, 0);
                border-color: rgba($themeColorBlue, $themeColorWeight / 100);

                .#{$themePrefix}icon {
                        color: $themeColorBlue;
                        fill: $themeColorBlue;
                }

                &:focus,
                &:hover,
                &:active {
                        text-decoration: underline;
                        background-color: rgba($themeColorBlue, $themeColorWeight / 100);
                }
        }

        &.#{$themePrefix}btn-left {
                text-align: left;
        }

        &.#{$themePrefix}btn-right {
                text-align: right;

                &.#{$themePrefix}btn-icon {
                        .#{$themePrefix}icon {
                                position: absolute;
                                right: 0.75rem;
                                margin: 0.375rem 0;
                        }
        
                        .#{$themePrefix}btn-text {
                                margin-left: 0;
                                margin-right: 1.75rem;
                        }
                }

                &.#{$themePrefix}btn-small {
                        &.#{$themePrefix}btn-icon {
                                .#{$themePrefix}icon {
                                        margin: 0.125rem 0;
                                }
        
                                .#{$themePrefix}btn-text {
                                        margin-right: 1.25rem !important;
                                }
                        }
                }
        
                &.#{$themePrefix}btn-large {
                        &.#{$themePrefix}btn-icon {
                                .#{$themePrefix}icon {
                                        margin: 0.875rem 0;
                                }
                        }
                }
        
                &.#{$themePrefix}btn-huge {
                        &.#{$themePrefix}btn-icon {
                                .#{$themePrefix}icon {
                                        margin: 1.375rem 0;
                                }
                        }
                }
        }

        &.#{$themePrefix}btn-top,
        &.#{$themePrefix}btn-bottom {
                height: auto !important;

                .#{$themePrefix}icon,
                .#{$themePrefix}btn-text {
                        position: relative;
                        display: block;
                        margin-left: auto !important;
                        margin-right: auto !important;
                        text-align: center;
                }

                .#{$themePrefix}btn-text {
                        line-height: 1.375rem;
                }

                &.#{$themePrefix}btn-small .#{$themePrefix}btn-text {
                        line-height: 1.125rem;
                }
                
                &.#{$themePrefix}btn-large .#{$themePrefix}btn-text {
                        line-height: 1.625rem;
                }
                
                &.#{$themePrefix}btn-huge .#{$themePrefix}btn-text {
                        line-height: 1.875rem;
                }
        }

        /*&.#{$themePrefix}btn-bottom {
                height: 4rem !important;

                .#{$themePrefix}icon {
                        position: relative;
                        margin: 0 !important;
                        line-height: 1.5rem !important;
                        vertical-align: bottom;
                }

                .#{$themePrefix}btn-text {
                        display: block;
                        height: 1.75rem !important;
                        margin: 0;
                }

                &.#{$themePrefix}btn-small {
                        height: 3rem !important;

                        .#{$themePrefix}icon {
                                line-height: 1rem !important;
                        }

                        .#{$themePrefix}btn-text {
                                height: 1.25rem !important;
                        }
                }

                &.#{$themePrefix}btn-large {
                        height: 5rem !important;
                
                        .#{$themePrefix}btn-text {
                                height: 2.25rem !important;
                        }
                }

                &.#{$themePrefix}btn-huge {
                        height: 6rem !important;

                        .#{$themePrefix}btn-text {
                                height: 2.75rem !important;
                        }
                }
        }

        &.#{$themePrefix}btn-top {
                .#{$themePrefix}icon,
                .#{$themePrefix}btn-text {
                        vertical-align: top !important;
                }
        }*/
}
