@import '../styles/variable.scss';
@import '~bootstrap/scss/navbar';

.#{$themePrefix}navbar {
        padding: 0;
        height: 3rem;
        line-height: 3rem;

        .navbar-brand {
                padding-top: 0;
                padding-bottom: 0;
                outline: 0;
        }

        .navbar-brand {
                max-height: 100%;
                margin-left: 0;
                line-height: inherit;
                cursor: pointer;

                .navbar-brand-logo {
                        width: 1.5rem;
                        height: 1.5rem;
                        margin: 0.75rem;
                        background-size: 100% 100%;
                }
        }

        .navbar-left,
        .navbar-right,
        .navbar-middle {
                height: 100%;
        }

        .navbar-middle {
                flex: 1;
        }

        &.#{$themePrefix}navbar-small {
                height: 2rem;
                line-height: 2rem;

                .navbar-brand .navbar-brand-logo {
                        margin: 0.25rem;
                }
        }

        &.#{$themePrefix}navbar-large {
                height: 4rem;
                line-height: 4rem;

                .navbar-brand .navbar-brand-logo {
                        margin: 1.25rem
                }
        }

        &.#{$themePrefix}navbar-huge {
                height: 5rem;
                line-height: 5rem;

                .navbar-brand .navbar-brand-logo {
                        margin: 1.75rem
                }
        }
}