@import '../styles/variable.scss';

.#{$themePrefix}tabbar {
        width: 100% !important;
        overflow: hidden;

        .#{$themePrefix}btn {
                max-width: 100%;
                height: 3.125rem;
                padding-top: 0.3125rem;
                padding-bottom: 0.1875rem;
                text-align: center;
                flex: 1;

                &:hover,
                &:focus,
                &:active {
                        box-shadow: none;
                }

                .#{$themePrefix}icon {
                        margin: 0 auto !important;
                }

                .#{$themePrefix}btn-text {
                        font-size: 0.75rem;
                        line-height: 1rem;
                }

                &.#{$themePrefix}btn-icon-only {
                        padding-top: 0.625rem;

                        .#{$themePrefix}icon {
                                position: relative;
                                display: block;
                                width: 2rem;
                                height: 2rem;
                        }
                }
        }

        &.#{$themePrefix}tabbar-flex2 .#{$themePrefix}btn {
                max-width: 50% !important;
        }

        &.#{$themePrefix}tabbar-flex3 .#{$themePrefix}btn {
                max-width: 33.3333% !important;
        }

        &.#{$themePrefix}tabbar-flex4 .#{$themePrefix}btn {
                max-width: 25% !important;
        }

        &.#{$themePrefix}tabbar-flex5 .#{$themePrefix}btn {
                max-width: 20% !important;
        }
}