@import '../../components/styles/variable.scss';

.#{$themePrefix}view-component {
        padding: 0 1rem;
        background-color: $themeColorWhite;

        .#{$themePrefix}view-component-header {
                margin-top: 0;
        }

        .#{$themePrefix}view-component-comment {
                color: $themeColorGray600;
                margin-bottom: 0;
        }

        article {
                padding-bottom: 0.625rem;

                dfn {
                        margin: 1em 0.25em 0.25em 0.25em;
                }

                samp {
                        border-bottom: 0;

                        table {
                                width: 100%;

                                th, td {
                                        padding: 0 0.3125rem;
                                        vertical-align: middle;
                                }

                                th {
                                        color: $themeColorGray700;
                                        font-weight: normal;
                                        line-height: 3em;
                                        text-align: left;

                                        p {
                                                color: $themeColorGray700;
                                        }
                                }
                        }

                        table.#{$themePrefix}box {
                                width: auto;
                                margin: 3rem 4rem;

                                th {
                                        width: 5rem;
                                        text-align: center;
                                        line-height: 4rem;
                                        color: $themeColorWhite;
                                        background: $themeColorAccentLight;
                                        border: 1px solid $themeColorWhite;
                                        cursor: pointer;
                                }
                        }
                }

                table.attrs {
                        width: 100%;
                        min-width: 50rem;

                        tr {
                                border-bottom: 1px solid $themeColorGray300;
                        }

                        th, td {
                                padding: 0.5rem 0.75rem;
                                font-size: 0.9375rem;
                                line-height: 1.25rem;
                                font-weight: normal;
                                text-align: center;
                                vertical-align: middle;
                        }

                        td {
                                color: $themeColorGray600;
                        }
                }
        }
}