@import '../../components/styles/variable.scss';

.#{$themePrefix}view-component-Button {
        .#{$themePrefix}button {
                margin: 0.5rem;
        }

        .#{$themePrefix}responsive {
                display: block;
        }

        br {
                display: none;
        }
}
@include media-breakpoint-up(md) {
        .#{$themePrefix}view-component-Button {
                .#{$themePrefix}button-responsive {
                        width: 15rem;
                }

                br {
                        display: block;
                }
        }
}