@import '../../components/styles/variable.scss';

.#{$themePrefix}view-component {
        padding: 0 1rem;
        background-color: $themeColorWhite;

        .#{$themePrefix}view-component-header small,
        article dfn small {
                display: block;
                margin-top: 1em;
                color: $themeColorGray500;
                font-size: 0.875rem;
                line-height: 1.25rem;
        }

        .#{$themePrefix}view-component-header {
                margin: 0;
                padding-top: 1rem;
        }

        article {
                padding-bottom: 0.625rem;

                dfn {
                        margin: 3.5rem 0 1rem 0;
                }

                samp {
                        border-bottom: 0;

                        table {
                                width: 100%;

                                th, td {
                                        padding: 0 0.3125rem;
                                        vertical-align: middle;
                                }

                                th {
                                        color: $themeColorGray700;
                                        font-weight: normal;
                                        line-height: 3em;
                                        text-align: left;

                                        p {
                                                color: $themeColorGray700;
                                        }
                                }
                        }

                        table.#{$themePrefix}box {
                                width: auto;
                                margin: 4rem auto;

                                th {
                                        width: 5rem;
                                        text-align: center;
                                        line-height: 4rem;
                                        color: $themeColorWhite;
                                        background: $themeColorAccentLight;
                                        cursor: pointer;

                                        span {
                                                width: 100%;
                                        }
                                }
                        }
                }

                table.attrs {
                        width: 100%;
                        min-width: 50rem;

                        tr {
                                border-bottom: 1px solid $themeColorGray300;
                        }

                        th, td {
                                padding: 0.5rem 0.75rem;
                                font-size: 0.9375rem;
                                line-height: 1.25rem;
                                font-weight: normal;
                                text-align: center;
                                vertical-align: middle;
                        }

                        td {
                                color: $themeColorGray700;
                        }
                }
        }
}