@import '../../components/styles/variable.scss';
@import './variable.scss';

.#{$themePrefix}view-common {
        .#{$themePrefix}view-header {
                small {
                        display: block;
                        color: $themeColorGray700;
                        font-size: 1.25rem;
                        line-height: 1.75rem;
                }
        }

        article {
                padding-bottom: 2rem;
                padding-bottom: 1.5rem;

                h4 {
                        margin-top: 1rem;
                }

                section, code {
                        padding: 1.5rem;
                        border: 0.125rem solid $themeColorGray200;
                        overflow: auto;

                        p {
                                white-space:nowrap;
                        }
                }

                section {
                        table {
                                width: 100%;

                                th {
                                        font-weight: normal;
                                }
                        }

                        &.attrs {
                                padding-top: 0;
                                border: 0;

                                table {
                                        width: 100%;
                                        min-width: 50rem;

                                        tr {
                                                border-bottom: 1px solid $themeColorGray300;
                                        }

                                        th, td {
                                                padding: 0.5em 0.75em;
                                                text-align: center;
                                        }

                                        td {
                                                color: $themeColorGray600;
                                        }
                                }
                        }
                }

                code {
                        display: block;
                        position: relative;
                        margin-bottom: 1.5rem;
                        background-color: $themeColorGray200;

                        &, p, span {
                                font-family: $font-family-monospace !important;
                        }

                        em {
                                padding-left: 0.75em;
                                padding-bottom: 0.75em;
                                font-weight: bold;
                                font-style: normal;
                        }
                }

                code.language-html {
                        .t {
                                color: $themeColorBlue;
                        }

                        .a {
                                color: $themeColorCyan;
                                padding-left: 0.5em;
                        }

                        .v {
                                color: $themeColorPink;
                        }

                        .i {
                                color: $themeColorGray600;
                        }
                }

                code.language-typescript {
                        .c {
                                color: $themeColorGray600;
                        }

                        .n {
                                color: $themeColorBlue;
                        }

                        .s {
                                color: $themeColorGray600;
                        }

                        .e {
                                color: $themeColorOrange;
                        }

                        .w {
                                color: $themeColorCyan;
                        }

                        .t {
                                color: $themeColorBlue;
                        }

                        .a {
                                color: $themeColorCyan;
                                padding-left: 0.5em;
                        }

                        .v {
                                color: $themeColorPink;
                        }

                        .i {
                                color: $themeColorGray600;
                        }
                }
        }
}
.vfluents-browser-theme-dark .#{$themePrefix}view-common {
        section, code, tr {
                border-color: $themeColorGray800 !important;
        }

        code {
                background-color: $themeColorGray800;
        }
}